// color
$heading-color: #1d1d1d;
$title-color: #5b5b5b;
$text-color: #8c8c8c;
$green: #2ac37d;
$red: #cf5050;
$white: #fff;
$black: #000;

// font-family
$primary-font: "Archivo Narrow", sans-serif;
$secondary-font: "Montserrat", sans-serif;
