
<header class="header"> 
  <div class="overlay" [class.active]="isActive" (click)="toggleSidebar()"> </div>
  <div class="container h-100"> 
    <div class="row h-100 px-3 align-items-center">
      <div class="col-4 col-xl-2"> <a class="logo" href="#!"><img src="./assets/images/logo.png" alt="logo"/></a></div>
      <div class="col col-xl-7">
        <nav class="navbar" [class.active]="isActive">
          <div class="navbar-search"> 
            <input type="text" placeholder="Search Product..."/>
          </div>
          <ul class="navbar-list"> 
            <li class="navbar-item"><a href="#!">Home</a><i class="fa-solid fa-angle-down"></i></li>
            <li class="navbar-item"><a href="#!">Men</a><i class="fa-solid fa-angle-down"></i></li>
            <li class="navbar-item"><a href="#!">Women</a><i class="fa-solid fa-angle-down"></i></li>
            <li class="navbar-item"><a href="#!">Kids</a><i class="fa-solid fa-angle-down"></i></li>
            <li class="navbar-item"><a href="#!">News</a><i class="fa-solid fa-angle-down"></i></li>
            <li class="navbar-item"><a href="#!">Contact</a><i class="fa-solid fa-angle-down">                    </i></li>
          </ul>
        </nav>
      </div>
      <div class="col-7 col-xl-3">
        <ul class="header__action">
          <li class="header__action-item"> <span class="heart"> <i class="bi bi-bag-heart-fill"></i></span><sup>2</sup></li>
          <li class="header__action-item"> <span class="cart"> <i class="bi bi-cart4"></i></span><sup>2</sup></li>
          <li class="header__action-item"> <span class="avatar"> <i class="bi bi-person-circle"></i></span></li>
          <li class="header__action-item"><span class="bars" [class.active]="isActive" (click)="toggleSidebar()"><span class="bars-item"></span><span class="bars-item"></span><span class="bars-item"></span></span></li>
        </ul>
      </div>
    </div>
  </div>
</header>