div.rating
    span(*ngFor="let star of stars; index as i", (click)="onRate(i)",(mouseenter) ="onHover(i)",(mouseout)="onMouseLeave()")
        i(class="bx bxs-star star-icon" ,[class]="{'full':i < rating,'hovered':i < hoverRating}")